/* fuentes y colores */

$fuenteTextosPrincipal: 'Cabin', sans-serif;
$fuenteParrafos: 'Roboto', sans-serif;        
$colorPrincipal:rgba(105, 102, 102, 0.541);
$black1: rgba(45, 44, 46, 0.795);
$black2: rgba(0, 0, 0, 0.479);
$white: white; 
$green: rgba(134, 230, 24, 0.884);




//media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;