@import '../base/variables';


/* paguina about me */


.bgAbout {
    display: flex;
    background-color: rgba(138, 187, 81, 0.418);  
    padding: 1rem;  
    margin: 5rem;
    
}




@include telefono {
    .servicioTexto {
        font-size: 3rem;     
        padding-bottom: 3rem;
    }
}


@include tablet {
    .text-about {
        font-size: 2rem;       
        margin: 0 auto;
        padding: 0 auto;
        align-items: center;
        text-align: start;


        
    }
}    



.aboutInfo {
    display: flex;
    flex-direction: row;    
    align-items: center;    
    color: $white;
    font-size: 2.8rem;
    font-family: $fuenteParrafos;
    text-transform: capitalize;
    text-align: center;
}

/* fin paguina about me */