@import '../base/variables';

/* paguina contacto */

.contact {
    height: 70rem;

}

.servicioTexto {
    color: $white;
    font-family: $fuenteTextosPrincipal;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem ;
    padding-bottom: 10rem;
    font-size: 5rem;
    text-transform: uppercase;
}


@include tablet {
    .servicioTexto {
        font-size: 3rem;     
        padding-bottom: 3rem;
    }
}

.contactInfo {
    display: flex;
    flex-direction: column;    
    align-items: center;    
    color: $green;
    font-size: 3rem;
    font-family: $fuenteTextosPrincipal;
    text-transform: capitalize;
}

/* fin paguina contacto */