@import '../base/variables';


/* footer */

.footer {    
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.pFooter {
    color:$white;       
    text-decoration: none;
    font-family: $fuenteTextosPrincipal;    
    font-size: 3rem;      
    padding-bottom: 30px;    
    text-transform: capitalize;
}

.animacion {
    color: $green;
}

.animacion:hover {
    animation: change-color 1s;
}

@keyframes change-color {
    0% {
        color: rgb(190, 35, 35);
    }   
    
    20% {
        color: rgb(63, 156, 231);
        
    } 

    40% {
        color: rgb(19, 199, 73);
        
    } 

    80% {
        color: rgb(202, 56, 202);
    } 

    100% {
        color: rgb(226, 213, 23);
    }
}

/* fin footer */