@import '../base/variables';
@import '../base/mixins';


/* inico contenido skills  */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);       
    text-align: center;
    padding-top: 5rem;    
}

@include tablet {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.textoSkills {
    color: $white;
    font-size: 3rem;
    font-family: $fuenteTextosPrincipal;
    text-transform: capitalize;
}

.list1 {
    color: $white;
    font-size: 2rem;
    list-style: none;
}

/* fin contenido skills  */