@import '../base/variables';
@import '../base/mixins';


/*  paguina projects */

.bgWork {
    display: flex;    
    flex-direction: column;
    padding: 8rem;
    margin: 5rem 10rem;
    align-items: center;
}

.workInfo {
    display: flex;
    flex-direction: row;    
    align-items: center;    
    color:$green;
    font-size: 2.8rem;
    font-family: $fuenteTextosPrincipal;
    text-transform: capitalize;
}



.grid-works {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: center; 
       
}


.works {
    display: grid;    
    justify-content: center;
    background-color: $colorPrincipal;
    padding: 1.5rem;    
    margin-bottom: 1rem;
    line-height: 3em;
    
}

.trabajo-info {
    text-transform: uppercase;
    line-height: 1.5em;
    color: $white;
    text-align: center;
}

.work-imagen {
    max-width: 100%;    
}

.trabajo-nombre {
    color: $white;
    font-family: $fuenteParrafos;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* fin paguina projects */