@import 'components/header';
@import 'components/footer';
@import 'components/main';
@import 'components/aboutme';
@import 'components/contact';
@import 'components/projects';
@import 'components/tecnology';
@import 'base/variables';
@import 'base/mixins';





/* generales */

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {    
    margin: 0 auto;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgba(23, 59, 31, 0.795), rgb(0, 0, 0));
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease infinite;    
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}


.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteTextosPrincipal);
}

img {
    max-width: 100%;
}

/*utilidades */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: center;
}
.centrar-texto {
    text-align: center;
}

p {
    font-family: var(--fuenteParrafos);
    text-transform: capitalize;
}

a {
    text-decoration: none;
}


/* fin generales */